/* ---------- table ---------- */

#dividendsTable {
    width: 300px;
    margin: 0 auto;
}

.table {
    float: left;
    padding: 3px;
    border: 1px dotted lightgrey;
    width: 90px;
    text-align: center;
}

.clear {
    clear: both;
}


/* ---------- graph ---------- */

#dividendsGraph {
    width: 100%;
    margin: 10px 0px;
    border-left: 2px dotted gray;
    border-bottom: 2px dotted gray;
    padding: 3px;
}

.value,
.year {
    text-align: center;
    font-size: 12px;
}

.year {
    display: block;
}

.columnWrap {
    display: inline-block;
    margin-right: 3px;
    vertical-align: bottom;
}

.fullYear {
    display: inline-block;
}